<!--Add a button which says "Display Details-->
<button class="btn btn-primary" (click)="toggleParagraphAndLogDetails()">Display Details</button>

<!--Add a paragraph with any content of your choice-->
<!--Toggle the displaying of that paragraph with the Display Details button-->
<p *ngIf="isShown">secret paragraph</p>

<!--Log all button clicks (timestamp and index) in an array-->
<div *ngIf="clicks.length!=0" >
  <p *ngFor="let log of clicks"
  [ngStyle]="{background:getColor(log.index)}"
  [ngClass]="{longlist:validateIndex(log.index)}">Click{{log.index}} is done at {{log.timestamp}}.</p>
</div>

<!--output that array below the secret paragraphs-->

<!--Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color(via ngClass)-->